html {
	height: 100%;
}
body
{
height: 100%;
margin: 0;
background-attachment: fixed;
background-repeat: no-repeat;
background: #febf04; /* Old browsers */
background: -moz-linear-gradient(top,  #febf04 21%, #000000 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,#febf04), color-stop(100%,#000000)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #febf04 21%,#000000 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #febf04 21%,#000000 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #febf04 21%,#000000 100%); /* IE10+ */
background: linear-gradient(to bottom,  #febf04 21%,#000000 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#febf04', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
